###This is one of the hw's for 'using python to access web data'. In this assigment we'll load some json data, extract the 'count' data and get the count sum for all inviduals listed.

In [24]:
#We'll begin by importing the urllib and json libraries,
#then ask for url, and read the data from the page
import urllib 
import json

input_url= raw_input('Insert url to read: ')
print 'Fetching', input_url

url_data= urllib.urlopen(input_url)#Open url
#http://python-data.dr-chuck.net/comments_42.json is test dataset

Insert url to read: http://python-data.dr-chuck.net/comments_208376.json
Fetching http://python-data.dr-chuck.net/comments_208376.json

In [25]:
data= url_data.read()#Read all lines in opened file
print 'Got it!'

js= json.loads(str(data))#Take data and use json loads fxn to convert to json format

Got it!

In [26]:
print type(js), len(js)#Check type and size

<type 'dict'> 2

In [27]:
js.values()#Should show a dictionary with first item being a dictionary, second a list

[u'This file contains the actual data for your assignment</note>',
 [{u'count': 100, u'name': u'Caseyleigh'},
  {u'count': 99, u'name': u'Tomasz'},
  {u'count': 99, u'name': u'Ohran'},
  {u'count': 97, u'name': u'Eden'},
  {u'count': 97, u'name': u'Chala'},
  {u'count': 92, u'name': u'Jakey'},
  {u'count': 91, u'name': u'Alyssa'},
  {u'count': 88, u'name': u'Ciar'},
  {u'count': 86, u'name': u'Kinza'},
  {u'count': 85, u'name': u'Sheriff'},
  {u'count': 84, u'name': u'Reice'},
  {u'count': 81, u'name': u'Nikhil'},
  {u'count': 80, u'name': u'Geoff'},
  {u'count': 80, u'name': u'Oluwademilade'},
  {u'count': 79, u'name': u'Jasveer'},
  {u'count': 72, u'name': u'Alice'},
  {u'count': 71, u'name': u'Ivan'},
  {u'count': 71, u'name': u'Heidi'},
  {u'count': 65, u'name': u'Riccardo'},
  {u'count': 60, u'name': u'Kaily'},
  {u'count': 60, u'name': u'Lianne'},
  {u'count': 59, u'name': u'Allanah'},
  {u'count': 58, u'name': u'Layah'},
  {u'count': 57, u'name': u'Menna'},
  {u'count': 57, u'name': u'Yassin'},
  {u'count': 56, u'name': u'Carmen'},
  {u'count': 56, u'name': u'Ayden'},
  {u'count': 55, u'name': u'Mindi'},
  {u'count': 52, u'name': u'Mackena'},
  {u'count': 51, u'name': u'Kealan'},
  {u'count': 50, u'name': u'Letitia'},
  {u'count': 45, u'name': u'Simonne'},
  {u'count': 45, u'name': u'Samatar'},
  {u'count': 44, u'name': u'Louie'},
  {u'count': 43, u'name': u'Gurardass'},
  {u'count': 42, u'name': u'Laurianne'},
  {u'count': 39, u'name': u'J'},
  {u'count': 37, u'name': u'Ronald'},
  {u'count': 35, u'name': u'Lucien'},
  {u'count': 28, u'name': u'Ari'},
  {u'count': 25, u'name': u'Anifhe'},
  {u'count': 23, u'name': u'Theodore'},
  {u'count': 22, u'name': u'Kerri'},
  {u'count': 20, u'name': u'Erik'},
  {u'count': 19, u'name': u'Kheanna'},
  {u'count': 18, u'name': u'Ama'},
  {u'count': 17, u'name': u'Wesley'},
  {u'count': 10, u'name': u'Khizer'},
  {u'count': 4, u'name': u'Kaia'},
  {u'count': 2, u'name': u'Laura'}]]

In [28]:
#Second item (list) has the scores that we want to get the sum of so we'll load list first
new= js.values()[1]

In [29]:
#New is a list, but each element in list is a dictionary
print type(new), type(new[0])

<type 'list'> <type 'dict'>

In [30]:
#For each dictionary, we have keys and values, count is what we'd like to total
print new[0].keys(), new[0].values()

[u'count', u'name'] [100, u'Caseyleigh']

In [31]:
#We can fetch the count value with the following syntax
new[0].values()[0]

100

In [32]:
#Using this syntax, let's iterate through list and append each 'count' value to a new list, 'counts'
counts= []
for i in range(0,len(new)):
    counts.append(new[i].values()[0])

In [33]:
#List the counts

[100,
 99,
 99,
 97,
 97,
 92,
 91,
 88,
 86,
 85,
 84,
 81,
 80,
 80,
 79,
 72,
 71,
 71,
 65,
 60,
 60,
 59,
 58,
 57,
 57,
 56,
 56,
 55,
 52,
 51,
 50,
 45,
 45,
 44,
 43,
 42,
 39,
 37,
 35,
 28,
 25,
 23,
 22,
 20,
 19,
 18,
 17,
 10,
 4,
 2]

In [34]:
#Now let's take the sum, should either be 2482 (for test set) or end in 6 for our new set
sum(counts)

2806